

body {
    font-family: 'Arial', sans-serif;
    background-color: #600000;
    /* Fondo granate */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: auto;
}

html {
    margin: 0;
    padding: 0;
}

label {
    color: white;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

#img {
    margin-bottom: 30px;
}

#img img {
    width: 200px;
    margin-bottom: 20px;
}

p {
    color: white;
}

a {
    color: white;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #e74c3c;
    /* Color rojo para el título */
}

form {
    display: flex;
    align-items: left;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

button {
    background: none;
    border: 2px solid #f2f2f2;
    color: #f2f2f2;
    padding: 15px 30px;
    font-size: 1.2rem;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    /* Bordes ligeramente redondeados */
}

button:hover {
    background-color: #f2f2f2;
    color: #600000;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: black;
}

input {
    background: #f2f2f2;
    border: 2px solid #e74c3c;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    margin: 10px 0;
    width: 100%;
    transition: all 0.3s ease;
    color: #600000;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #f2f2f2;
    background: #e74c3c;
    color: #f2f2f2;
}

input::placeholder {
    color: #888;
}

.search-container {
    display: flex;
}

#tablaCenso {
    height: 0;
    overflow: hidden;
    animation: animacionAumentoAltura 1s ease-in;
    border: 1px solid white;
    margin: 5px;
    border-radius: 10px;
}

@keyframes animacionAumentoAltura {
    from {
        height: 0;
    }

    to {
        height: 100%;
        /* Esto puede ajustarse según el contenido */
    }
}

.logoCivio {
    width: 100px;
    height: auto;
}

.logoCivio>*,
.logoCivio>*>* {
    width: inherit;
    height: inherit;
}

#divCenso {
    border: 1px solid white;
    width: 100%;
    max-width: 1000px;
    max-height: 500px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: auto;
}

.table-wrapper {
    height: 100%;
    overflow-y: auto;
}

table {
    width: 70%;
    border-collapse: collapse;
    background-color: #800000;
    color: white;
    table-layout: fixed;
}

tbody {
    max-height: 100px;
    overflow-y: auto;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #e74c3c;
    color: white;
    z-index: 2;
}

th,
td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

td {
    background-color: rgba(255, 255, 255, 0.2);
    word-wrap: break-word;
}

tr:nth-child(even) td {
    background-color: rgba(255, 255, 255, 0.1);
}

tr:hover td {
    background-color: #c0392b;
    cursor: pointer;
}


#modalPadreUpdate,
#modalPadreInsert {
    width: 100dvw;
    background-color: rgba(255, 255, 255, 0.493);
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 999;
    display: flex;
    align-content: center;
    justify-content: center;

}

.noVisible {
    visibility: hidden;
}

.contenidoModal {
    width: 80vw;
    height: 80vh;
    padding: 50px;
    margin:0 auto;
    background-color: #800000;
    border: 1px solid #E74C3C;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#tabla-censo {
    width: 100%;
}

 th,
td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}

/* Fijar el thead al hacer scroll */
#tabla-censo thead th {
    position: sticky;
    top: 0;
    border: 5px solid white;
    padding: 10px;
    z-index: 1;
    /* Asegurarse de que el encabezado quede encima */
}

/* Estilo para el tbody con scroll */
#div-tabla-censo {
    max-height: 400px;
    /* Ajusta la altura según tus necesidades */
    overflow-y: auto;
    /* Habilitar el scroll vertical */
    padding: 20px;
}

/* Opcional: Estilo para filas alternadas */